{#{% extends 'base.html.twig' %}#}

{#{% block meta %}#}
    {#<meta charset="utf-8">#}
    {#<meta http-equiv="X-UA-Compatible" content="IE=edge">#}
    {#<meta name="viewport" content="width=device-width, initial-scale=1">#}
    {#<meta name="description" content="">#}
    {#<meta name="author" content="">#}
{#{% endblock %}#}

{#{% block stylesheets %}#}
    {#<!-- Bootstrap Core CSS -->#}
    {#<link href="https://rawgit.com/BlackrockDigital/startbootstrap-stylish-portfolio/master/css/bootstrap.min.css" rel="stylesheet">#}

    {#<!-- Custom CSS -->#}
    {#<link href="https://rawgit.com/BlackrockDigital/startbootstrap-stylish-portfolio/master/css/stylish-portfolio.css" rel="stylesheet">#}

    {#<!-- Custom Fonts -->#}
    {#<link href="https://rawgit.com/BlackrockDigital/startbootstrap-stylish-portfolio/master/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">#}
    {#<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:100,100,100,100italic,400italic,700italic" rel="stylesheet" type="text/css">#}

    {#<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->#}
    {#<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->#}
    {#<!--[if lt IE 9]>#}
    {#<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>#}
    {#<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>#}
    {#<![endif]-->#}
{#{% endblock %}#}

{#{% block body %}#}

    {#<!-- Navigation -->#}
    {#<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>#}
    {#<nav id="sidebar-wrapper">#}
        {#<ul class="sidebar-nav">#}
            {#<a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>#}
            {#<li class="sidebar-brand">#}
                {#<a href="{{ url('homepage') }}" onclick=$("#menu-close").click();>Kaunas is waiting</a>#}
            {#</li>#}
            {#<li>#}
                {#<a href="{{ url('homepage') }}" onclick=$("#menu-close").click();>Home</a>#}
            {#</li>#}
            {#<li>#}
                {#<a href="{{ path('login') }}" onclick=$("#menu-close").click();>LogIn</a>#}
            {#</li>#}
            {#<li>#}
                {#<a href="{{ path('user_registration') }}" onclick=$("#menu-close").click();>Register</a>#}
            {#</li>#}
        {#</ul>#}
    {#</nav>#}

    {#<!-- /.login-logo -->#}
    {#<div class="register-box-body">#}
        {#<section id="home">#}
            {#<div class="container">#}
                {#<div class="row">#}
                    {#<div class="col-md-4"></div>#}
                    {#<div class="col-md-4">#}
                        {#<p class="login-box-msg">Register a new membership</p>#}

                        {#{{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}#}
                        {#<div class="form-group has-feedback">#}
                            {#{{ form_row(form.username, {'attr': {'class': 'form-control', 'placeholder': 'Enter your name'}}) }}#}
                        {#</div>#}
                        {#<div class="form-group has-feedback">#}
                            {#{{ form_row(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Enter your email'}}) }}#}
                        {#</div>#}
                        {#<div class="form-group has-feedback">#}
                            {#{{ form_row(form.plainPassword.first, {'attr': {'class': 'form-control', 'placeholder': 'Enter password'}}) }}#}
                        {#</div>#}
                        {#<div class="form-group has-feedback">#}
                            {#{{ form_row(form.plainPassword.second, {'attr': {'class': 'form-control', 'placeholder': 'Retype password'}}) }}#}
                        {#</div>#}
                        {#<div class="row" style="margin-left: 5px;">#}
                            {#<div class="col-xs-4">#}
                                {#<div class="checkbox icheck">#}
                                    {#{{ form_row(form.termsAccepted) }}#}
                                {#</div>#}
                            {#</div>#}
                            {#<!-- /.col -->#}
                            {#<div class="col-xs-7">#}
                                {#<button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>#}
                            {#</div>#}
                            {#<!-- /.col -->#}
                        {#</div>#}
                        {#{{ form_end(form) }}#}

                        {#<a href="{{ path('login') }}" class="text-center">I already have a membership</a>#}
                    {#</div>#}
                    {#<div class="col-xs-4"></div>#}
                {#</div>#}
            {#</div>#}
        {#</section>#}
    {#</div>#}

{#{% endblock %}#}

{#{% block javascripts %}#}
    {#<!-- jQuery -->#}
    {#<script src="https://rawgit.com/BlackrockDigital/startbootstrap-stylish-portfolio/master/js/jquery.js"></script>#}

    {#<!-- Bootstrap Core JavaScript -->#}
    {#<script src="https://rawgit.com/BlackrockDigital/startbootstrap-stylish-portfolio/master/js/bootstrap.min.js"></script>#}

    {#<script>#}
        {#// Closes the sidebar menu#}
        {#$("#menu-close").click(function(e) {#}
            {#e.preventDefault();#}
            {#$("#sidebar-wrapper").toggleClass("active");#}
        {#});#}
        {#// Opens the sidebar menu#}
        {#$("#menu-toggle").click(function(e) {#}
            {#e.preventDefault();#}
            {#$("#sidebar-wrapper").toggleClass("active");#}
        {#});#}
    {#</script>#}
{#{% endblock %}#}

{% extends 'base.html.twig' %}

{% block meta %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
{% endblock %}

{% block stylesheets %}
    <!-- Bootstrap Core CSS -->
    <link href="https://rawgit.com/BlackrockDigital/startbootstrap-stylish-portfolio/master/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="https://rawgit.com/BlackrockDigital/startbootstrap-stylish-portfolio/master/css/stylish-portfolio.css" rel="stylesheet">
    <link href="https://rawgit.com/BlackrockDigital/startbootstrap-sb-admin-2/master/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">
    <link href="https://rawgit.com/BlackrockDigital/startbootstrap-sb-admin-2/master/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://rawgit.com/BlackrockDigital/startbootstrap-stylish-portfolio/master/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://rawgit.com/BlackrockDigital/startbootstrap-stylish-portfolio/master/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
{% endblock %}

{% block body %}

    <!-- Navigation -->
    <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
    <nav id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="sidebar-brand">
                <a href="{{ url('homepage') }}" onclick=$("#menu-close").click();>Kaunas is waiting</a>
            </li>
            <li>
                <a href="{{ url('homepage') }}" onclick=$("#menu-close").click();>Home</a>
            </li>
            <li>
                <a href="{{ path('login') }}" onclick=$("#menu-close").click();>LogIn</a>
            </li>
            <li>
                <a href="{{ path('user_registration') }}" onclick=$("#menu-close").click();>Register</a>
            </li>
        </ul>
    </nav>

    <!-- /.login-logo -->
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Register a new membership</h3>
                    </div>
                    <div class="panel-body">
                        {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
                        <div class="form-group has-feedback">
                            {{ form_row(form.username, {'attr': {'class': 'form-control', 'placeholder': 'Enter your name'}}) }}
                        </div>
                        <div class="form-group has-feedback">
                            {{ form_row(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Enter your email'}}) }}
                        </div>
                        <div class="form-group has-feedback">
                            {{ form_row(form.plainPassword.first, {'attr': {'class': 'form-control', 'placeholder': 'Enter password'}}) }}
                        </div>
                        <div class="form-group has-feedback">
                            {{ form_row(form.plainPassword.second, {'attr': {'class': 'form-control', 'placeholder': 'Retype password'}}) }}
                        </div>
                        <div class="row" style="margin-left: 5px;">
                            <div class="col-xs-9">
                                <div class="checkbox icheck">
                                    {{ form_row(form.termsAccepted) }}
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-lg btn-success btn-block">Register</button>
                        {{ form_end(form) }}

                        <a href="{{ path('login') }}" class="text-center">I already have a membership</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <!-- jQuery -->
    <script src="https://rawgit.com/BlackrockDigital/startbootstrap-stylish-portfolio/master/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://rawgit.com/BlackrockDigital/startbootstrap-stylish-portfolio/master/js/bootstrap.min.js"></script>

    <script src="https://rawgit.com/BlackrockDigital/startbootstrap-sb-admin-2/master/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://rawgit.com/BlackrockDigital/startbootstrap-sb-admin-2/master/vendor/bootstrap/js/bootstrap.min.js"></script>

    <script src="https://rawgit.com/BlackrockDigital/startbootstrap-sb-admin-2/master/vendor/metisMenu/metisMenu.min.js"></script>

    <script src="https://rawgit.com/BlackrockDigital/startbootstrap-sb-admin-2/master/dist/js/sb-admin-2.min.js"></script>


    <script>
        // Closes the sidebar menu
        $("#menu-close").click(function(e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });
        // Opens the sidebar menu
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });
    </script>
{% endblock %}